* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C5CFDD;
}
body button {
  all: unset;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
}
body button:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
}
body .container .leftsidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 340px;
  font-size: 18px;
}
body .container .leftsidebar .top {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .container .leftsidebar .top .account {
  height: 70px;
  width: 12ch;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
body .container .leftsidebar .top .account .avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
body .container .leftsidebar .top .account .avatar p {
  all: unset;
  max-width: 12ch;
  user-select: none;
}
body .container .leftsidebar .top .newchat {
  height: 70px;
  width: 12ch;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
body .container .leftsidebar .top .newchat .plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
body .container .leftsidebar .top .newchat .plus p {
  all: unset;
  max-width: 12ch;
  user-select: none;
}
body .container .leftsidebar .chats {
  height: calc(100vh - 119px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .container .leftsidebar .chats .chatsheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 23px;
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 11px;
}
body .container .leftsidebar .chats .chatsheader p {
  all: unset;
  max-width: 5ch;
  font-size: 16px;
  user-select: none;
}
body .container .leftsidebar .chats .chatslist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
body .container .leftsidebar .chats .chatslist .chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  height: 70px;
  margin: 0 21px 11px 21px;
}
body .container .leftsidebar .chats .chatslist .chat p {
  display: flex;
  align-items: center;
  height: 30px !important;
  user-select: none;
}
body .container .middlebar {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 680px);
  height: 100vh;
}
body .container .middlebar .currentChat {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: calc(100vh - 110px);
  border-radius: 20px;
  margin: 26px 0 20px 0;
}
body .container .middlebar .currentChat h1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body .container .middlebar .send {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: gray;
}
body .container .middlebar .send button {
  all: unset;
  cursor: pointer;
  height: 24px;
}
body .container .middlebar .send .messageblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
body .container .middlebar .send .messageblock input {
  all: unset;
  width: 80%;
  height: 100%;
  font-size: 20px;
}
body .container .rightsidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 340px;
  font-size: 18px;
}
body .container .rightsidebar .outerlayer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .container .rightsidebar .outerlayer .addfriend {
  height: 70px;
  width: 12ch;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
body .container .rightsidebar .outerlayer .addfriend .avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
body .container .rightsidebar .outerlayer .addfriend .avatar p {
  all: unset;
  max-width: 12ch;
  user-select: none;
}
body .container .friends {
  height: calc(100vh - 119px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .container .friends .friendsheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 23px;
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 11px;
}
body .container .friends .friendsheader p {
  all: unset;
  max-width: 5ch;
  font-size: 16px;
  user-select: none;
}
body .container .friends .friendslist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  overflow-y: scroll;
}
body .container .friends .friendslist::-webkit-scrollbar {
  display: none;
}
body .container .friends .friendslist .friend {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  height: 70px;
  margin: 0 21px 11px 21px;
  gap: 10px;
}
body .container .friends .friendslist .friend p {
  display: flex;
  align-items: center;
  height: 30px !important;
  user-select: none;
}
body .container .friends .friendslist .friend span {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: gray;
  user-select: none;
}
body .container .friends .friendslist .friend:hover .deletebtn {
  opacity: 1;
}
body .container .friends .friendslist .friend:has(.deletebtn:hover) {
  box-shadow: unset;
}
body .container .friends .friendslist .friend:has(.deletebtn:hover) .deletebtn {
  background-color: black;
}
body .container .friends .friendslist .friend .deletebtn {
  opacity: 0;
  box-shadow: unset;
  mask-image: url("../icon/create&login/X.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 32px;
  background-color: #C5CFDD;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 19px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  width: 32px;
  height: 32px;
}
body .container .friends .friendslist .friend .deletebtn span {
  transition: color 0.3s ease-in-out;
}
body .container .friends .friendslist .friend .deletebtn span.hidden {
  display: none;
}
body .container .friends .friendslist .friend .deletebtn.active {
  opacity: 1;
  mask-image: unset;
  width: fit-content;
  padding: 6px 10px;
  right: 13px;
}
body .container .friends .friendslist .friend .deletebtn.active:hover {
  background-color: #ff3737;
}
body .container .friends .friendslist .friend .deletebtn.active:hover span {
  color: white;
}
body .ProfilePictureOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body #settingsOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
body #settingsOverlay #settingsContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: white;
}
body #settingsOverlay #settingsContainer #settingsleftsidebar {
  width: 240px;
  height: 100%;
  border-right: 2.5px solid lightgray;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body #settingsOverlay #settingsContainer #settingsleftsidebar button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 2.5px solid lightgray;
  cursor: pointer;
}
body #settingsOverlay #settingsContainer #settingsrest {
  width: calc(100% - 242px);
  height: 100%;
  background-color: lightgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}
body #settingsOverlay #settingsContainer #settingsrest button {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
}
body #settingsOverlay #settingsContainer #settingsrest button img {
  width: 40px;
}
body #settingsOverlay #settingsContainer #settingsrest #title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 0 0 0 10px;
}
body #friendOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
body #friendOverlay #friendContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: white;
}
body #friendOverlay #friendContainer #friendrest {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
body #friendOverlay #friendContainer #friendrest button {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
}
body #friendOverlay #friendContainer #friendrest button img {
  width: 40px;
}
body #friendOverlay #friendContainer #friendrest #title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 0 0 0 10px;
}
body #friendOverlay #friendContainer #friendrest #friendIDinput {
  margin: 0 0 0 10px;
}

/*# sourceMappingURL=homepage.css.map */
