body {
  margin: 0;
  padding: 0;
}
body .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
}
body .container .leftsidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 280px;
  font-size: 18px;
  border-right: 2.5px solid lightgray;
}
body .container .leftsidebar .account {
  height: 120px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2.5px solid lightgray;
}
body .container .leftsidebar .account img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}
body .container .leftsidebar .account p {
  all: unset;
  width: 12ch;
}
body .container .leftsidebar .chats {
  height: calc(100vh - 192px);
  overflow-y: scroll;
}
body .container .leftsidebar .chats::-webkit-scrollbar {
  width: 10px;
}
body .container .leftsidebar .chats::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
body .container .leftsidebar .chats::-webkit-scrollbar-track {
  background-color: white;
}
body .container .leftsidebar .chats ul {
  all: unset;
}
body .container .leftsidebar .chats ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-top: 1.25px solid lightgray;
  border-bottom: 1.25px solid lightgray;
}
body .container .leftsidebar .settings {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 2.5px solid lightgray;
}
body .container .leftsidebar .settings .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 120px;
  border: none;
  background: lightgray;
  border-radius: 20px;
  cursor: pointer;
}
body .container .leftsidebar .settings .button:hover .svg-icon {
  animation: spin 2s linear infinite;
}
body .container .leftsidebar .settings .lable {
  line-height: 20px;
  font-size: 17px;
  color: black;
  font-family: sans-serif;
  letter-spacing: 1px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .container .currentChat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 562px);
  font-size: 18px;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
}
body .container .rightsidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 280px;
  font-size: 18px;
  border-left: 2.5px solid lightgray;
}
body .container .rightsidebar .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 2.5px solid lightgray;
  margin-left: 10px;
}
body .container .rightsidebar .friends ul {
  all: unset;
}
body .container .rightsidebar .friends ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-top: 1.25px solid lightgray;
  border-bottom: 1.25px solid lightgray;
}
body .ProfilePictureOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body #settingsOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
body #settingsOverlay #settingsContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: white;
}
body #settingsOverlay #settingsContainer #settingsleftsidebar {
  width: 240px;
  height: 100%;
  border-right: 2.5px solid lightgray;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body #settingsOverlay #settingsContainer #settingsleftsidebar button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 2.5px solid lightgray;
  cursor: pointer;
}
body #settingsOverlay #settingsContainer #settingsrest {
  width: calc(100% - 242px);
  height: 100%;
  background-color: lightgray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}
body #settingsOverlay #settingsContainer #settingsrest button {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
}
body #settingsOverlay #settingsContainer #settingsrest button img {
  width: 40px;
}
body #settingsOverlay #settingsContainer #settingsrest #title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin: 0 0 0 10px;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  background-color: darkgray;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload .icon svg {
  height: 80px;
  fill: black;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload .text span {
  font-weight: 400;
  color: black;
}
body #settingsOverlay #settingsContainer #settingsrest .custum-file-upload input {
  display: none;
}

/*# sourceMappingURL=homepage.css.map */
